.Button {
  background: var(--collector-prussian-blue);
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.Button:hover {
  background: var(--collector-deep-sky-blue);
}
