:root {
  --collector-madison: #2c3e50;
  --collector-prussian-blue: #003278;
  --collector-deep-sky-blue: #01a8ff;
  --collector-dark-orange: #fc9007;
  --collector-concrete: #d9d9d8;
  --collector-white: #ffffff;
}

.App {
  color: var(--collector-madison);
  text-align: center;
}

.App-intro {
  font-size: 1.2rem;
}
