.SearchBar .Button {
  border-radius: 0 8px 8px 0;
}

.SearchBar-input {
  border: 1px solid var(--collector-madison);
  border-radius: 8px 0 0 8px;
  font-size: 1rem;
  padding: calc(0.75rem - 1px);
}
