.Header-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Header {
  background-color: var(--collector-madison);
  height: 150px;
  padding: 20px;
  color: var(--collector-white);
}

.Header-heading {
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
